[Unit]
Description=Steam Deck Motion Service (JSON UDP)
After=sockets.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=%h/sdmotion/sdmotion

[Install]
WantedBy=default.target